<style>

@font-face {
    font-family: "OctinSports";
    src: url("fonts/octinsports.eot");
}

body {
    font-family: Verdana, Tahoma, sans-serif;
    font-size:14px;
}

h1 {
    font-size: 18px;
    margin-bottom: -2px;
}

span {
    font-size: 10px;
}

.form {
    height: 600px;
    width: 800px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border: 1px solid black;
}

.shapka {
    height: 65px;
    width: 790px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background: #A3D9FF; 
    padding: 0 5px 5px 5px;
    border-bottom: 1px solid black;
}

.close {
    text-align: right;
    margin-bottom: -10px; 
}

.content {
    height: 530px;
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    align-items: baseline;
    flex-flow: column wrap;
}   

.bar {
    height: 530px;
    width: 150px;
    display: flex;
    flex-flow: column wrap;
    background: #6493BA; 
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    overflow: auto;
}

.who {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin: auto;
    
}

.initcircle {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #B3D9F9; 
    font-size: 14px;
    text-align: center;
    line-height: 50px;
}

.data {
    display: inline-block;
    height: 30px;
    width: 70px;
    text-align: center;
    font-size: 10px;
}

.chat {
    height: 530px;
    width: 649px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background: #E5E5E5;
    overflow: auto;
    border-right: 1px solid black;
}

.namemessage {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: auto;
    
}

.name {
    display: inline-block;
    margin: 10px 10px 0 5px;
    font-size: 16px;  
}

.message {
    display: flex;
    background: #D3ECFF;  
    margin: 10px 10px 5px 10px;
    font-size: 12px;
    
    
}


</style>
